@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-y: hidden;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-gray-900;
  }
}

@layer components {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply h-1 scroll-smooth;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-900 rounded-lg scroll-smooth;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
    @apply bg-gray-800 rounded-lg border-2 border-white scroll-smooth;
  }
}
